# IntelliJ
.idea/
*.iml

# Java
*.class
*.jar

# Others
target/
**/src/main/delombok/
dependency-reduced-pom.xml

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.*
!.gitattributes
!.gitignore

# OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
infer-out/

# Ignore travis
!.travis.yml
!.travis/
